<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
    </head>
    <body>
        <h1>Members Only Club</h1>
        <% if (user) {%>
        <h1>WELCOME BACK <%= user.username %></h1>
        <a href="/messages">Go to messages</a>
        <a href="/log-out">LOG OUT</a>
        <% if (!user.membership) { %>
        <div>
            <h4>Enter our secret password to gain membership</h4>
            <form action="/" method="POST">
                <label for="secret">Secret Code: </label>
                <input id="secret" name="secret" type="text" placeholder="secret">
                <button type="submit">Submit</button>
            </form>
        </div>
        <% } %>
        <% } else { %>
        <a href="/login">login</a>
        <a href="/sign-up">signup</a>
        <%}%>
    </body>
</html>
